/* Стили для сообщений об ошибках */
.field_with_errors {
  color: red;
}

/* Стили для сообщений об успехе */
.notice {
  color: green;
}

/* Стили для сообщений об предупреждении */
.alert {
  color: orange;
}

/* Стили для сообщений о сообщении */
.info {
  color: blue;
}
